* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
  color: white;
  opacity: 0;
  transition: opacity 5s;
  font-size: 1vw;
}
/* ----- blink animation ----- */
/* .blink_me {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 25%;
  }
} */

/* ----- typewriter animation ----- */
/* .typed_out {
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  animation: typing 5s steps(50, end) forwards;
  font-size: 0.9rem;
  width: 0;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
} */
/* -----button css for testing ------ */
.test_button {
  position: absolute;
  bottom: 0%;
  color: antiquewhite;
  background-color: teal;
  border-color: fuchsia;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  padding: 3px;
  cursor: pointer;
}
/* -----End button css for testing ------ */
.action_button.active {
  color: white;
  font-weight: bold;
  background-color: aqua;
  box-shadow: 0px 0px 10px rgba(0, 255, 255), 0px 0px 10px rgba(0, 255, 255);
}
#backdrop {
  max-height: 1080px;
  max-width: 1920px;
  width: auto;
  aspect-ratio: 16/9;
}
/* ---------- start game window ---------- */
#start_window_container {
  width: 100%;
  height: 100%;
  max-height: 1080px;
  max-width: 1920px;
}
#start_window {
  position: relative;
  background-color: rgba(86, 43, 226, 0.277);
  top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 60%;
  border-width: 3px;
  border-radius: 20px;
  border-style: solid;
  border-color: rgba(218, 165, 32, 0.726);
  box-shadow: 0px 0px 15px rgba(218, 165, 32, 0.627);
  opacity: 0;
  transition: opacity 5s;
}
#start_image {
  background-color: black;
  position: absolute;
  top: 3%;
  margin-left: 20%;
  margin-right: auto;
  height: 50%;
  aspect-ratio: 16/9;
  border-width: 1px;
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(218, 165, 32, 0.626);
  box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.501),
    1px 3px 15px rgba(0, 0, 0, 0.501);
}
#start_textbox {
  text-align: center;
  /* font-size: 90%; */
  background-color: black;
  position: absolute;
  margin-left: 5%;
  margin-right: auto;
  bottom: 0%;
  height: 40%;
  width: 90%;
  border-width: 1px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-style: solid;
  border-color: rgba(218, 165, 32, 0.664);
  box-shadow: 1px -5px 10px rgba(0, 0, 0, 0.501),
    1px -5px 10px rgba(0, 0, 0, 0.501);
  text-align: center;
}
#start_textbox p {
  /* font-size: 80%; */
  height: 6vw;
  /* max-height: 30%; */
  overflow: hidden;
}
#start_button {
  /* font-size: 1.5vw; */
  position: absolute;
  bottom: 0%;
  right: 3%;
  width: fit-content;
  color: antiquewhite;
  background-color: rgba(218, 165, 32, 0.686);
  border-color: goldenrod;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}
#start_button:hover {
  color: rgba(255, 195, 43);
  background-color: rgba(86, 43, 226, 0.666);
  border-color: rgb(255, 195, 43);
  box-shadow: 0px 0px 10px rgba(255, 195, 43), 0px 0px 10px rgba(255, 195, 43);
  cursor: pointer;
}
/* ---------- end start game window ---------- */
/* ---------- gameplay area ---------- */
#gameplay_area {
  top: 0%;
  width: 100%;
  height: 100%;
  max-height: 1080px;
  max-width: 1920px;
  opacity: 0;
  transition: opacity 5s;
}
.main_section {
  position: relative;
  background-color: rgba(0, 255, 255, 0.493);
  border-color: fuchsia;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  text-align: center;
}
/* ---------- encounter and player deck ---------- */
#deck_container {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 20%;
  height: 50%;
}
#encounter_deck {
  position: absolute;
  top: 0%;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  height: 50%;
}
/* temp button */
#encounter_button {
  width: 90%;
  color: antiquewhite;
  background-color: teal;
  border-color: fuchsia;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  padding: 3px;
}
#encounter_button:hover {
  color: white;
  font-weight: bold;
  background-color: aqua;
  box-shadow: 0px 0px 10px rgba(0, 255, 255), 0px 0px 10px rgba(0, 255, 255);
  cursor: pointer;
}
#encounter_button:active {
  background-color: red;
}
#player_deck {
  position: absolute;
  bottom: 0%;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  height: 49%;
}
/* temp button */
#draw_button {
  width: 90%;
  color: antiquewhite;
  background-color: teal;
  border-color: fuchsia;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  padding: 3px;
}
#draw_button:hover {
  color: white;
  font-weight: bold;
  background-color: aqua;
  box-shadow: 0px 0px 10px rgba(0, 255, 255), 0px 0px 10px rgba(0, 255, 255);
  cursor: pointer;
}
#draw_button:active {
  background-color: red;
}
/* ---------- End encounter and player deck ---------- */
/* ---------- card play area ---------- */
#card_play_area {
  position: absolute;
  top: 0%;
  left: 21%;
  width: 58%;
  height: 49%;
}
#encounter_box {
  width: 90%;
  height: 90%;
  margin: auto;
  color: antiquewhite;
  border-color: fuchsia;
  border-width: 2px;
  border-style: dashed;
  border-radius: 5px;
}
.enemy {
  height: 100%;
}
.enemy img {
  height: 95%;
}
/* ---------- end card play area ---------- */
/* ---------- player action buttons ---------- */
#player_actions {
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 20%;
  height: 48%;
}
.action_button {
  width: 90%;
  color: antiquewhite;
  background-color: teal;
  border-color: fuchsia;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  padding: 3px;
}
.action_button:hover {
  color: white;
  font-weight: bold;
  background-color: aqua;
  box-shadow: 0px 0px 10px rgba(0, 255, 255), 0px 0px 10px rgba(0, 255, 255);
  cursor: pointer;
}
.action_button:active {
  background-color: red;
}
/* ---------- End player action buttons ---------- */
/* ---------- player hand ---------- */
#player_hand {
  position: absolute;
  display: inline-flex;
  bottom: 0%;
  left: 21%;
  width: 58%;
  height: 49%;
}
/* temp? */
#player_hand p {
  position: absolute;
  width: 100%;
}
.in_hand_card {
  width: 30%;
  height: 70%;
  margin-top: 5%;
  margin-left: 1px;
  margin-right: 1px;
  color: antiquewhite;
  background-color: teal;
  border-color: fuchsia;
  border-width: 1px;
  border-style: dashed;
  border-radius: 5px;
}
.in_hand_card:hover {
  background-color: rgba(255, 255, 255, 0.263);
  cursor: pointer;
}
.in_hand_card.highlight {
  background-color: teal;
  border-color: fuchsia;
  border-width: 5px;
  border-style: solid;
  box-shadow: 0px 0px 10px rgba(0, 255, 255), 0px 0px 10px rgba(0, 255, 255);
}
.button.play_card {
  position: absolute;
  bottom: 0%;
  color: antiquewhite;
  background-color: teal;
  border-color: fuchsia;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  padding: 3px;
  cursor: pointer;
}
/* ---------- End player hand ---------- */
/* ---------- player and enemy stats and conditions ---------- */
#stats_conditions_container {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 20%;
  height: 59%;
}
.stat_icon {
  display: grid;
  grid-template-columns: min-content auto;
  height: fit-content;
}
.stat_icon p {
  font-size: 1.8vw;
  width: fit-content;
  text-wrap: none;
}
.stat_icon img {
  width: 2vw;
}
#enemy_stats {
  display: grid;
  gap: 0%;
  position: absolute;
  top: 0%;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  height: 24%;
}
#enemy_conditions {
  position: absolute;
  top: 24%;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  height: 24%;
}
#player_stats {
  position: absolute;
  bottom: 24%;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  height: 24%;
}
#player_conditions {
  position: absolute;
  bottom: 0%;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  height: 24%;
}
/* ---------- End player and enemy stats and conditions ---------- */
/* ---------- player discard and vanish ---------- */
#player_discard_vanish {
  position: absolute;
  bottom: 0%;
  right: 0%;
  width: 20%;
  height: 39%;
}
#player_vanish {
  position: absolute;
  top: 0%;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  height: 49%;
}
#player_discard {
  position: absolute;
  bottom: 0%;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  height: 49%;
}
/* ---------- End player discard and vanish ---------- */
/* ------popup window ------ */
.modal {
  position: absolute;
  z-index: 3;
  margin-left: 25%;
  margin-right: 25%;
  top: 5%;
  width: 50%;
  height: 20%;
  overflow: auto;
  border-color: goldenrod;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s;
}
/* ------End popup window ------ */
/* ------add card reward ------ */
#add_card_container {
  position: absolute;
  display: inline-flex;
  top: 10%;
  left: 5%;
  width: 95%;
  height: 80%;
}
/* ------End add card reward ------ */
/* ----------------------------- */
/* The Modal (background) */
/* .modal {
  display: none; /* Hidden by default */
/* position: fixed; Stay in place */
/* z-index: 1; Sit on top */
/* left: 0; */
/* top: 0; */
/* width: 100%; Full width */
/* height: 100%; Full height */
/* overflow: auto; Enable scroll if needed */
/* background-color: rgb(0, 0, 0); Fallback color */
/* background-color: rgba(0, 0, 0, 0.4); Black w/ opacity */
/* } */
/* Modal Content/Box
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
/* padding: 20px; */
/* border: 1px solid #888; */
/* width: 80%; Could be more or less, depending on screen size */
/* } */
/* .close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} */
/* ---------- End gameplay area ---------- */
